@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    color: #1f1e1e;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    background-color: #e1e1e1;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

h1 {
    margin: 5px;
}

.logo {
    width: 180px;
}

.input-area {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 60%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

#resultado {
    margin-top: 20px;
    color: #000000;
    font-size: 24px;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

@media (max-width: 768px) {
    button {
        margin-top: 10px;
    }
}